@import pretty-pieces.sass


$light-green: lighten($green, 42%)


// General
// ------------------
body
  +sans-serif
  margin: 0
  padding: 0
  background-repeat: no-repeat 

a
  color: darken($green, 10%)

  &:hover
    color: $green

// Header
// -----------------

.header
  width: 550px
  margin: 40px auto 0
  text-align: center
  position: relative

  h2
    font-size: 50px
    letter-spacing: -1px
    color: #333
    margin: 0
    padding: 0

  a
    text-decoration: none
    color: #333

    &:hover
      text-decoration: underline

  h3
    margin: 0
    padding: 0
    color: #777
    font-size: 22px
    font-weight: normal


  hr
    margin: 20px 0 20px
    padding: 0
    width: 100%
    height: 0
    border: none
    border-bottom: 1px solid #ccc

// Wrapper
// ----------------------
.wrapper
  width: 550px
  margin: 20px auto 0
  text-align: left


// Posts
// ---------------------
.post
  margin-top: 40px

  h1
    font-weight: bold
    color: #333 
    margin: 0

  h2.date
    color: #888
    font-weight: normal
    margin: 5px 0 20px

  p
    font-size: 15px
    line-height: 24px
    font-family: Arial, sans-serif

  img
    padding: 3px
    border: 1px solid #ccc
      
// Homepage
// -------------------
.homepage
  list-style: none
  a
    color: #333
    font-weight: bold
    text-decoration: none
    display: block

    &:hover
      background: $light-green 

  li
    padding: 10px 0
    border-bottom: 1px solid #ccc
    font-size: 18px

    span
      color: #555
      font-size: 15px
      font-weight: normal 


// Social Buttons
.social-bar
  position: relative
  padding-top: 15px
  margin-bottom: 50px


.social-bar-buttons
  position: absolute
  top: 16px
  right: 0 
  left: 0
  margin: auto
  width: 138px
  text-align: center
  +inset-button-group(4px, #eee)

  a
    color: #333
    text-shadow: none
    position: relative
    height: 24px
    padding: 5px 10px 5px 34px
    line-height: 24px
    border-top: 1px solid #ccc
    border-bottom: 1px solid #aaa 
    +gradient(#f5f5f5, #eee)

    &:hover, &.active
      background: $light-green 


    &:first-child
      border-left: 1px solid #ccc
      padding-left: 34px

    &:last-child
      border-right: 1px solid #ccc

    img
      position: absolute
      left: 10px
      display: block
      

// Arrow Nav
// -----------------

#lefthover, #righthover
  position: fixed
  width: 25%
  height: 100%

  .arrow-container
    position: fixed
    top: 50%
    margin-top: -75px

  h3
    position: absolute
    display: none
    color: #333
    margin: 0px
    word-wrap: break-word

    small
      color: #555
      font-weight: normal

  .hover-box
    display: none
    background: #eee
    border: 1px solid #ccc
    padding: 15px
    position: absolute

    img
      display: block
      margin: 0 auto
      width: 45px


  &:hover
    h3
      display: block

    .hover-box
      display: block
      background: $light-green

#lefthover
  left: 0

  .arrow-container
    left: 0

  h3
    left: 100px

  .hover-box
    left: 0

#righthover
  right: 0

  .arrow-container
    right: 0

  h3
    right: 100px

  .hover-box
    right: 0

// Misc
// -----------------
.highlight
  overflow: scroll

#disqus_thread
  margin-bottom: 30px

#dsq-account-dropdown
  a
    +button($dark-gray, 20px)
    font-size: 13px

#dsq-subscribe
  color: #333
  a
    color: #333

.micro.button
  font-size: 13px
  padding: 3px 10px

.nav
  width: 100%
  border-top: 4px solid $green
  margin: 0 auto


.highlight
  padding: 10px 20px
  +border-radius(4px)
