@-webkit-keyframes fade-in {
  /* line 58, ../sass/animation.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  /* line 63, ../sass/animation.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@-moz-keyframes fade-in {
  /* line 58, ../sass/animation.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  /* line 63, ../sass/animation.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@-ms-keyframes fade-in {
  /* line 58, ../sass/animation.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  /* line 63, ../sass/animation.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fade-in {
  /* line 58, ../sass/animation.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  /* line 63, ../sass/animation.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes fade-in-left {
  /* line 58, ../sass/animation.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  /* line 63, ../sass/animation.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@-moz-keyframes fade-in-left {
  /* line 58, ../sass/animation.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  /* line 63, ../sass/animation.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@-ms-keyframes fade-in-left {
  /* line 58, ../sass/animation.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  /* line 63, ../sass/animation.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fade-in-left {
  /* line 58, ../sass/animation.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  /* line 63, ../sass/animation.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes fade-in-right {
  /* line 58, ../sass/animation.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
  }

  /* line 63, ../sass/animation.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@-moz-keyframes fade-in-right {
  /* line 58, ../sass/animation.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
  }

  /* line 63, ../sass/animation.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@-ms-keyframes fade-in-right {
  /* line 58, ../sass/animation.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
  }

  /* line 63, ../sass/animation.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fade-in-right {
  /* line 58, ../sass/animation.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
  }

  /* line 63, ../sass/animation.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes fade-in-top {
  /* line 58, ../sass/animation.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
  }

  /* line 63, ../sass/animation.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@-moz-keyframes fade-in-top {
  /* line 58, ../sass/animation.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
  }

  /* line 63, ../sass/animation.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@-ms-keyframes fade-in-top {
  /* line 58, ../sass/animation.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
  }

  /* line 63, ../sass/animation.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fade-in-top {
  /* line 58, ../sass/animation.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
  }

  /* line 63, ../sass/animation.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes fade-in-bottom {
  /* line 58, ../sass/animation.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
  }

  /* line 63, ../sass/animation.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@-moz-keyframes fade-in-bottom {
  /* line 58, ../sass/animation.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
  }

  /* line 63, ../sass/animation.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@-ms-keyframes fade-in-bottom {
  /* line 58, ../sass/animation.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
  }

  /* line 63, ../sass/animation.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fade-in-bottom {
  /* line 58, ../sass/animation.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
  }

  /* line 63, ../sass/animation.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

/* line 78, ../sass/animation.scss */
.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 84, ../sass/animation.scss */
.fade-in {
  -webkit-animation-name: fade-in;
  -moz-animation-name: fade-in;
  -ms-animation-name: fade-in;
  animation-name: fade-in;
}

/* line 88, ../sass/animation.scss */
.fade-in-left {
  -webkit-animation-name: fade-in-left;
  -moz-animation-name: fade-in-left;
  -ms-animation-name: fade-in-left;
  animation-name: fade-in-left;
}

/* line 92, ../sass/animation.scss */
.fade-in-bottom {
  -webkit-animation-name: fade-in-bottom;
  -moz-animation-name: fade-in-bottom;
  -ms-animation-name: fade-in-bottom;
  animation-name: fade-in-bottom;
}

/* line 96, ../sass/animation.scss */
.delayed-025s {
  -webkit-animation-delay: 0.25s;
  -moz-animation-delay: 0.25s;
  -ms-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

/* line 100, ../sass/animation.scss */
.delayed-05s {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

/* line 104, ../sass/animation.scss */
.delayed-075s {
  -webkit-animation-delay: 0.75s;
  -moz-animation-delay: 0.75s;
  -ms-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

/* line 108, ../sass/animation.scss */
.delayed-1s {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -ms-animation-delay: 1s;
  animation-delay: 1s;
}

@-webkit-keyframes show-right {
  /* line 16, ../sass/cube.scss */
  0% {
    -webkit-transform: translateZ(-235px) rotateY(0deg);
    -moz-transform: translateZ(-235px) rotateY(0deg);
    -ms-transform: translateZ(-235px) rotateY(0deg);
    transform: translateZ(-235px) rotateY(0deg);
  }

  /* line 20, ../sass/cube.scss */
  50%, 80%, 100% {
    -webkit-transform: translateZ(-235px) rotateY(-90deg);
    -moz-transform: translateZ(-235px) rotateY(-90deg);
    -ms-transform: translateZ(-235px) rotateY(-90deg);
    transform: translateZ(-235px) rotateY(-90deg);
  }

  /* line 24, ../sass/cube.scss */
  65% {
    -webkit-transform: translateZ(-235px) rotateY(-85deg);
    -moz-transform: translateZ(-235px) rotateY(-85deg);
    -ms-transform: translateZ(-235px) rotateY(-85deg);
    transform: translateZ(-235px) rotateY(-85deg);
  }

  /* line 28, ../sass/cube.scss */
  90% {
    -webkit-transform: translateZ(-235px) rotateY(-88deg);
    -moz-transform: translateZ(-235px) rotateY(-88deg);
    -ms-transform: translateZ(-235px) rotateY(-88deg);
    transform: translateZ(-235px) rotateY(-88deg);
  }
}

@-moz-keyframes show-right {
  /* line 16, ../sass/cube.scss */
  0% {
    -webkit-transform: translateZ(-235px) rotateY(0deg);
    -moz-transform: translateZ(-235px) rotateY(0deg);
    -ms-transform: translateZ(-235px) rotateY(0deg);
    transform: translateZ(-235px) rotateY(0deg);
  }

  /* line 20, ../sass/cube.scss */
  50%, 80%, 100% {
    -webkit-transform: translateZ(-235px) rotateY(-90deg);
    -moz-transform: translateZ(-235px) rotateY(-90deg);
    -ms-transform: translateZ(-235px) rotateY(-90deg);
    transform: translateZ(-235px) rotateY(-90deg);
  }

  /* line 24, ../sass/cube.scss */
  65% {
    -webkit-transform: translateZ(-235px) rotateY(-85deg);
    -moz-transform: translateZ(-235px) rotateY(-85deg);
    -ms-transform: translateZ(-235px) rotateY(-85deg);
    transform: translateZ(-235px) rotateY(-85deg);
  }

  /* line 28, ../sass/cube.scss */
  90% {
    -webkit-transform: translateZ(-235px) rotateY(-88deg);
    -moz-transform: translateZ(-235px) rotateY(-88deg);
    -ms-transform: translateZ(-235px) rotateY(-88deg);
    transform: translateZ(-235px) rotateY(-88deg);
  }
}

@-ms-keyframes show-right {
  /* line 16, ../sass/cube.scss */
  0% {
    -webkit-transform: translateZ(-235px) rotateY(0deg);
    -moz-transform: translateZ(-235px) rotateY(0deg);
    -ms-transform: translateZ(-235px) rotateY(0deg);
    transform: translateZ(-235px) rotateY(0deg);
  }

  /* line 20, ../sass/cube.scss */
  50%, 80%, 100% {
    -webkit-transform: translateZ(-235px) rotateY(-90deg);
    -moz-transform: translateZ(-235px) rotateY(-90deg);
    -ms-transform: translateZ(-235px) rotateY(-90deg);
    transform: translateZ(-235px) rotateY(-90deg);
  }

  /* line 24, ../sass/cube.scss */
  65% {
    -webkit-transform: translateZ(-235px) rotateY(-85deg);
    -moz-transform: translateZ(-235px) rotateY(-85deg);
    -ms-transform: translateZ(-235px) rotateY(-85deg);
    transform: translateZ(-235px) rotateY(-85deg);
  }

  /* line 28, ../sass/cube.scss */
  90% {
    -webkit-transform: translateZ(-235px) rotateY(-88deg);
    -moz-transform: translateZ(-235px) rotateY(-88deg);
    -ms-transform: translateZ(-235px) rotateY(-88deg);
    transform: translateZ(-235px) rotateY(-88deg);
  }
}

@keyframes show-right {
  /* line 16, ../sass/cube.scss */
  0% {
    -webkit-transform: translateZ(-235px) rotateY(0deg);
    -moz-transform: translateZ(-235px) rotateY(0deg);
    -ms-transform: translateZ(-235px) rotateY(0deg);
    transform: translateZ(-235px) rotateY(0deg);
  }

  /* line 20, ../sass/cube.scss */
  50%, 80%, 100% {
    -webkit-transform: translateZ(-235px) rotateY(-90deg);
    -moz-transform: translateZ(-235px) rotateY(-90deg);
    -ms-transform: translateZ(-235px) rotateY(-90deg);
    transform: translateZ(-235px) rotateY(-90deg);
  }

  /* line 24, ../sass/cube.scss */
  65% {
    -webkit-transform: translateZ(-235px) rotateY(-85deg);
    -moz-transform: translateZ(-235px) rotateY(-85deg);
    -ms-transform: translateZ(-235px) rotateY(-85deg);
    transform: translateZ(-235px) rotateY(-85deg);
  }

  /* line 28, ../sass/cube.scss */
  90% {
    -webkit-transform: translateZ(-235px) rotateY(-88deg);
    -moz-transform: translateZ(-235px) rotateY(-88deg);
    -ms-transform: translateZ(-235px) rotateY(-88deg);
    transform: translateZ(-235px) rotateY(-88deg);
  }
}

@-webkit-keyframes show-back {
  /* line 16, ../sass/cube.scss */
  0% {
    -webkit-transform: translateZ(-235px) rotateY(-90deg);
    -moz-transform: translateZ(-235px) rotateY(-90deg);
    -ms-transform: translateZ(-235px) rotateY(-90deg);
    transform: translateZ(-235px) rotateY(-90deg);
  }

  /* line 20, ../sass/cube.scss */
  50%, 80%, 100% {
    -webkit-transform: translateZ(-235px) rotateY(-180deg);
    -moz-transform: translateZ(-235px) rotateY(-180deg);
    -ms-transform: translateZ(-235px) rotateY(-180deg);
    transform: translateZ(-235px) rotateY(-180deg);
  }

  /* line 24, ../sass/cube.scss */
  65% {
    -webkit-transform: translateZ(-235px) rotateY(-175deg);
    -moz-transform: translateZ(-235px) rotateY(-175deg);
    -ms-transform: translateZ(-235px) rotateY(-175deg);
    transform: translateZ(-235px) rotateY(-175deg);
  }

  /* line 28, ../sass/cube.scss */
  90% {
    -webkit-transform: translateZ(-235px) rotateY(-178deg);
    -moz-transform: translateZ(-235px) rotateY(-178deg);
    -ms-transform: translateZ(-235px) rotateY(-178deg);
    transform: translateZ(-235px) rotateY(-178deg);
  }
}

@-moz-keyframes show-back {
  /* line 16, ../sass/cube.scss */
  0% {
    -webkit-transform: translateZ(-235px) rotateY(-90deg);
    -moz-transform: translateZ(-235px) rotateY(-90deg);
    -ms-transform: translateZ(-235px) rotateY(-90deg);
    transform: translateZ(-235px) rotateY(-90deg);
  }

  /* line 20, ../sass/cube.scss */
  50%, 80%, 100% {
    -webkit-transform: translateZ(-235px) rotateY(-180deg);
    -moz-transform: translateZ(-235px) rotateY(-180deg);
    -ms-transform: translateZ(-235px) rotateY(-180deg);
    transform: translateZ(-235px) rotateY(-180deg);
  }

  /* line 24, ../sass/cube.scss */
  65% {
    -webkit-transform: translateZ(-235px) rotateY(-175deg);
    -moz-transform: translateZ(-235px) rotateY(-175deg);
    -ms-transform: translateZ(-235px) rotateY(-175deg);
    transform: translateZ(-235px) rotateY(-175deg);
  }

  /* line 28, ../sass/cube.scss */
  90% {
    -webkit-transform: translateZ(-235px) rotateY(-178deg);
    -moz-transform: translateZ(-235px) rotateY(-178deg);
    -ms-transform: translateZ(-235px) rotateY(-178deg);
    transform: translateZ(-235px) rotateY(-178deg);
  }
}

@-ms-keyframes show-back {
  /* line 16, ../sass/cube.scss */
  0% {
    -webkit-transform: translateZ(-235px) rotateY(-90deg);
    -moz-transform: translateZ(-235px) rotateY(-90deg);
    -ms-transform: translateZ(-235px) rotateY(-90deg);
    transform: translateZ(-235px) rotateY(-90deg);
  }

  /* line 20, ../sass/cube.scss */
  50%, 80%, 100% {
    -webkit-transform: translateZ(-235px) rotateY(-180deg);
    -moz-transform: translateZ(-235px) rotateY(-180deg);
    -ms-transform: translateZ(-235px) rotateY(-180deg);
    transform: translateZ(-235px) rotateY(-180deg);
  }

  /* line 24, ../sass/cube.scss */
  65% {
    -webkit-transform: translateZ(-235px) rotateY(-175deg);
    -moz-transform: translateZ(-235px) rotateY(-175deg);
    -ms-transform: translateZ(-235px) rotateY(-175deg);
    transform: translateZ(-235px) rotateY(-175deg);
  }

  /* line 28, ../sass/cube.scss */
  90% {
    -webkit-transform: translateZ(-235px) rotateY(-178deg);
    -moz-transform: translateZ(-235px) rotateY(-178deg);
    -ms-transform: translateZ(-235px) rotateY(-178deg);
    transform: translateZ(-235px) rotateY(-178deg);
  }
}

@keyframes show-back {
  /* line 16, ../sass/cube.scss */
  0% {
    -webkit-transform: translateZ(-235px) rotateY(-90deg);
    -moz-transform: translateZ(-235px) rotateY(-90deg);
    -ms-transform: translateZ(-235px) rotateY(-90deg);
    transform: translateZ(-235px) rotateY(-90deg);
  }

  /* line 20, ../sass/cube.scss */
  50%, 80%, 100% {
    -webkit-transform: translateZ(-235px) rotateY(-180deg);
    -moz-transform: translateZ(-235px) rotateY(-180deg);
    -ms-transform: translateZ(-235px) rotateY(-180deg);
    transform: translateZ(-235px) rotateY(-180deg);
  }

  /* line 24, ../sass/cube.scss */
  65% {
    -webkit-transform: translateZ(-235px) rotateY(-175deg);
    -moz-transform: translateZ(-235px) rotateY(-175deg);
    -ms-transform: translateZ(-235px) rotateY(-175deg);
    transform: translateZ(-235px) rotateY(-175deg);
  }

  /* line 28, ../sass/cube.scss */
  90% {
    -webkit-transform: translateZ(-235px) rotateY(-178deg);
    -moz-transform: translateZ(-235px) rotateY(-178deg);
    -ms-transform: translateZ(-235px) rotateY(-178deg);
    transform: translateZ(-235px) rotateY(-178deg);
  }
}

@-webkit-keyframes show-left {
  /* line 16, ../sass/cube.scss */
  0% {
    -webkit-transform: translateZ(-235px) rotateY(-180deg);
    -moz-transform: translateZ(-235px) rotateY(-180deg);
    -ms-transform: translateZ(-235px) rotateY(-180deg);
    transform: translateZ(-235px) rotateY(-180deg);
  }

  /* line 20, ../sass/cube.scss */
  50%, 80%, 100% {
    -webkit-transform: translateZ(-235px) rotateY(-270deg);
    -moz-transform: translateZ(-235px) rotateY(-270deg);
    -ms-transform: translateZ(-235px) rotateY(-270deg);
    transform: translateZ(-235px) rotateY(-270deg);
  }

  /* line 24, ../sass/cube.scss */
  65% {
    -webkit-transform: translateZ(-235px) rotateY(-265deg);
    -moz-transform: translateZ(-235px) rotateY(-265deg);
    -ms-transform: translateZ(-235px) rotateY(-265deg);
    transform: translateZ(-235px) rotateY(-265deg);
  }

  /* line 28, ../sass/cube.scss */
  90% {
    -webkit-transform: translateZ(-235px) rotateY(-268deg);
    -moz-transform: translateZ(-235px) rotateY(-268deg);
    -ms-transform: translateZ(-235px) rotateY(-268deg);
    transform: translateZ(-235px) rotateY(-268deg);
  }
}

@-moz-keyframes show-left {
  /* line 16, ../sass/cube.scss */
  0% {
    -webkit-transform: translateZ(-235px) rotateY(-180deg);
    -moz-transform: translateZ(-235px) rotateY(-180deg);
    -ms-transform: translateZ(-235px) rotateY(-180deg);
    transform: translateZ(-235px) rotateY(-180deg);
  }

  /* line 20, ../sass/cube.scss */
  50%, 80%, 100% {
    -webkit-transform: translateZ(-235px) rotateY(-270deg);
    -moz-transform: translateZ(-235px) rotateY(-270deg);
    -ms-transform: translateZ(-235px) rotateY(-270deg);
    transform: translateZ(-235px) rotateY(-270deg);
  }

  /* line 24, ../sass/cube.scss */
  65% {
    -webkit-transform: translateZ(-235px) rotateY(-265deg);
    -moz-transform: translateZ(-235px) rotateY(-265deg);
    -ms-transform: translateZ(-235px) rotateY(-265deg);
    transform: translateZ(-235px) rotateY(-265deg);
  }

  /* line 28, ../sass/cube.scss */
  90% {
    -webkit-transform: translateZ(-235px) rotateY(-268deg);
    -moz-transform: translateZ(-235px) rotateY(-268deg);
    -ms-transform: translateZ(-235px) rotateY(-268deg);
    transform: translateZ(-235px) rotateY(-268deg);
  }
}

@-ms-keyframes show-left {
  /* line 16, ../sass/cube.scss */
  0% {
    -webkit-transform: translateZ(-235px) rotateY(-180deg);
    -moz-transform: translateZ(-235px) rotateY(-180deg);
    -ms-transform: translateZ(-235px) rotateY(-180deg);
    transform: translateZ(-235px) rotateY(-180deg);
  }

  /* line 20, ../sass/cube.scss */
  50%, 80%, 100% {
    -webkit-transform: translateZ(-235px) rotateY(-270deg);
    -moz-transform: translateZ(-235px) rotateY(-270deg);
    -ms-transform: translateZ(-235px) rotateY(-270deg);
    transform: translateZ(-235px) rotateY(-270deg);
  }

  /* line 24, ../sass/cube.scss */
  65% {
    -webkit-transform: translateZ(-235px) rotateY(-265deg);
    -moz-transform: translateZ(-235px) rotateY(-265deg);
    -ms-transform: translateZ(-235px) rotateY(-265deg);
    transform: translateZ(-235px) rotateY(-265deg);
  }

  /* line 28, ../sass/cube.scss */
  90% {
    -webkit-transform: translateZ(-235px) rotateY(-268deg);
    -moz-transform: translateZ(-235px) rotateY(-268deg);
    -ms-transform: translateZ(-235px) rotateY(-268deg);
    transform: translateZ(-235px) rotateY(-268deg);
  }
}

@keyframes show-left {
  /* line 16, ../sass/cube.scss */
  0% {
    -webkit-transform: translateZ(-235px) rotateY(-180deg);
    -moz-transform: translateZ(-235px) rotateY(-180deg);
    -ms-transform: translateZ(-235px) rotateY(-180deg);
    transform: translateZ(-235px) rotateY(-180deg);
  }

  /* line 20, ../sass/cube.scss */
  50%, 80%, 100% {
    -webkit-transform: translateZ(-235px) rotateY(-270deg);
    -moz-transform: translateZ(-235px) rotateY(-270deg);
    -ms-transform: translateZ(-235px) rotateY(-270deg);
    transform: translateZ(-235px) rotateY(-270deg);
  }

  /* line 24, ../sass/cube.scss */
  65% {
    -webkit-transform: translateZ(-235px) rotateY(-265deg);
    -moz-transform: translateZ(-235px) rotateY(-265deg);
    -ms-transform: translateZ(-235px) rotateY(-265deg);
    transform: translateZ(-235px) rotateY(-265deg);
  }

  /* line 28, ../sass/cube.scss */
  90% {
    -webkit-transform: translateZ(-235px) rotateY(-268deg);
    -moz-transform: translateZ(-235px) rotateY(-268deg);
    -ms-transform: translateZ(-235px) rotateY(-268deg);
    transform: translateZ(-235px) rotateY(-268deg);
  }
}

@-webkit-keyframes show-front {
  /* line 16, ../sass/cube.scss */
  0% {
    -webkit-transform: translateZ(-235px) rotateY(-270deg);
    -moz-transform: translateZ(-235px) rotateY(-270deg);
    -ms-transform: translateZ(-235px) rotateY(-270deg);
    transform: translateZ(-235px) rotateY(-270deg);
  }

  /* line 20, ../sass/cube.scss */
  50%, 80%, 100% {
    -webkit-transform: translateZ(-235px) rotateY(-360deg);
    -moz-transform: translateZ(-235px) rotateY(-360deg);
    -ms-transform: translateZ(-235px) rotateY(-360deg);
    transform: translateZ(-235px) rotateY(-360deg);
  }

  /* line 24, ../sass/cube.scss */
  65% {
    -webkit-transform: translateZ(-235px) rotateY(-355deg);
    -moz-transform: translateZ(-235px) rotateY(-355deg);
    -ms-transform: translateZ(-235px) rotateY(-355deg);
    transform: translateZ(-235px) rotateY(-355deg);
  }

  /* line 28, ../sass/cube.scss */
  90% {
    -webkit-transform: translateZ(-235px) rotateY(-358deg);
    -moz-transform: translateZ(-235px) rotateY(-358deg);
    -ms-transform: translateZ(-235px) rotateY(-358deg);
    transform: translateZ(-235px) rotateY(-358deg);
  }
}

@-moz-keyframes show-front {
  /* line 16, ../sass/cube.scss */
  0% {
    -webkit-transform: translateZ(-235px) rotateY(-270deg);
    -moz-transform: translateZ(-235px) rotateY(-270deg);
    -ms-transform: translateZ(-235px) rotateY(-270deg);
    transform: translateZ(-235px) rotateY(-270deg);
  }

  /* line 20, ../sass/cube.scss */
  50%, 80%, 100% {
    -webkit-transform: translateZ(-235px) rotateY(-360deg);
    -moz-transform: translateZ(-235px) rotateY(-360deg);
    -ms-transform: translateZ(-235px) rotateY(-360deg);
    transform: translateZ(-235px) rotateY(-360deg);
  }

  /* line 24, ../sass/cube.scss */
  65% {
    -webkit-transform: translateZ(-235px) rotateY(-355deg);
    -moz-transform: translateZ(-235px) rotateY(-355deg);
    -ms-transform: translateZ(-235px) rotateY(-355deg);
    transform: translateZ(-235px) rotateY(-355deg);
  }

  /* line 28, ../sass/cube.scss */
  90% {
    -webkit-transform: translateZ(-235px) rotateY(-358deg);
    -moz-transform: translateZ(-235px) rotateY(-358deg);
    -ms-transform: translateZ(-235px) rotateY(-358deg);
    transform: translateZ(-235px) rotateY(-358deg);
  }
}

@-ms-keyframes show-front {
  /* line 16, ../sass/cube.scss */
  0% {
    -webkit-transform: translateZ(-235px) rotateY(-270deg);
    -moz-transform: translateZ(-235px) rotateY(-270deg);
    -ms-transform: translateZ(-235px) rotateY(-270deg);
    transform: translateZ(-235px) rotateY(-270deg);
  }

  /* line 20, ../sass/cube.scss */
  50%, 80%, 100% {
    -webkit-transform: translateZ(-235px) rotateY(-360deg);
    -moz-transform: translateZ(-235px) rotateY(-360deg);
    -ms-transform: translateZ(-235px) rotateY(-360deg);
    transform: translateZ(-235px) rotateY(-360deg);
  }

  /* line 24, ../sass/cube.scss */
  65% {
    -webkit-transform: translateZ(-235px) rotateY(-355deg);
    -moz-transform: translateZ(-235px) rotateY(-355deg);
    -ms-transform: translateZ(-235px) rotateY(-355deg);
    transform: translateZ(-235px) rotateY(-355deg);
  }

  /* line 28, ../sass/cube.scss */
  90% {
    -webkit-transform: translateZ(-235px) rotateY(-358deg);
    -moz-transform: translateZ(-235px) rotateY(-358deg);
    -ms-transform: translateZ(-235px) rotateY(-358deg);
    transform: translateZ(-235px) rotateY(-358deg);
  }
}

@keyframes show-front {
  /* line 16, ../sass/cube.scss */
  0% {
    -webkit-transform: translateZ(-235px) rotateY(-270deg);
    -moz-transform: translateZ(-235px) rotateY(-270deg);
    -ms-transform: translateZ(-235px) rotateY(-270deg);
    transform: translateZ(-235px) rotateY(-270deg);
  }

  /* line 20, ../sass/cube.scss */
  50%, 80%, 100% {
    -webkit-transform: translateZ(-235px) rotateY(-360deg);
    -moz-transform: translateZ(-235px) rotateY(-360deg);
    -ms-transform: translateZ(-235px) rotateY(-360deg);
    transform: translateZ(-235px) rotateY(-360deg);
  }

  /* line 24, ../sass/cube.scss */
  65% {
    -webkit-transform: translateZ(-235px) rotateY(-355deg);
    -moz-transform: translateZ(-235px) rotateY(-355deg);
    -ms-transform: translateZ(-235px) rotateY(-355deg);
    transform: translateZ(-235px) rotateY(-355deg);
  }

  /* line 28, ../sass/cube.scss */
  90% {
    -webkit-transform: translateZ(-235px) rotateY(-358deg);
    -moz-transform: translateZ(-235px) rotateY(-358deg);
    -ms-transform: translateZ(-235px) rotateY(-358deg);
    transform: translateZ(-235px) rotateY(-358deg);
  }
}

/* line 40, ../sass/cube.scss */
.cube-face {
  width: 940px;
  height: 400px;
  border: 8px solid white;
  box-sizing: border-box;
  color: #fff;
  position: absolute;
  overflow: hidden;
}
/* line 49, ../sass/cube.scss */
.cube-face img {
  display: block;
  width: 100%;
}
/* line 55, ../sass/cube.scss */
.cube-face.front {
  -webkit-transform: rotateY(0deg) translateZ(470px);
  -moz-transform: rotateY(0deg) translateZ(470px);
  -ms-transform: rotateY(0deg) translateZ(470px);
  transform: rotateY(0deg) translateZ(470px);
}
/* line 59, ../sass/cube.scss */
.cube-face.back {
  -webkit-transform: rotateY(180deg) translateZ(470px);
  -moz-transform: rotateY(180deg) translateZ(470px);
  -ms-transform: rotateY(180deg) translateZ(470px);
  transform: rotateY(180deg) translateZ(470px);
}
/* line 63, ../sass/cube.scss */
.cube-face.left {
  -webkit-transform: rotateY(-90deg) translateZ(470px);
  -moz-transform: rotateY(-90deg) translateZ(470px);
  -ms-transform: rotateY(-90deg) translateZ(470px);
  transform: rotateY(-90deg) translateZ(470px);
}
/* line 67, ../sass/cube.scss */
.cube-face.right {
  -webkit-transform: rotateY(90deg) translateZ(470px);
  -moz-transform: rotateY(90deg) translateZ(470px);
  -ms-transform: rotateY(90deg) translateZ(470px);
  transform: rotateY(90deg) translateZ(470px);
}
/* line 71, ../sass/cube.scss */
.cube-face.top {
  -webkit-transform: rotateX(90deg) translateZ(200px);
  -moz-transform: rotateX(90deg) translateZ(200px);
  -ms-transform: rotateX(90deg) translateZ(200px);
  transform: rotateX(90deg) translateZ(200px);
}
/* line 75, ../sass/cube.scss */
.cube-face.bottom {
  -webkit-transform: rotateX(-90deg) translateZ(200px);
  -moz-transform: rotateX(-90deg) translateZ(200px);
  -ms-transform: rotateX(-90deg) translateZ(200px);
  transform: rotateX(-90deg) translateZ(200px);
}

/* line 81, ../sass/cube.scss */
.cube {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translateZ(-100px);
  -webkit-animation-duration: 1.3s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in;
}
/* line 90, ../sass/cube.scss */
.cube.initial {
  -webkit-transform: translateZ(-235px) rotateY(-360deg);
  -moz-transform: translateZ(-235px) rotateY(-360deg);
  -ms-transform: translateZ(-235px) rotateY(-360deg);
  transform: translateZ(-235px) rotateY(-360deg);
}
/* line 94, ../sass/cube.scss */
.cube.show-front {
  -webkit-animation-name: show-front;
  -moz-animation-name: show-front;
  -ms-animation-name: show-front;
  animation-name: show-front;
}
/* line 98, ../sass/cube.scss */
.cube.show-back {
  -webkit-animation-name: show-back;
  -moz-animation-name: show-back;
  -ms-animation-name: show-back;
  animation-name: show-back;
}
/* line 102, ../sass/cube.scss */
.cube.show-left {
  -webkit-animation-name: show-left;
  -moz-animation-name: show-left;
  -ms-animation-name: show-left;
  animation-name: show-left;
}
/* line 106, ../sass/cube.scss */
.cube.show-right {
  -webkit-animation-name: show-right;
  -moz-animation-name: show-right;
  -ms-animation-name: show-right;
  animation-name: show-right;
}
/* line 110, ../sass/cube.scss */
.cube.show-top {
  -webkit-animation-name: show-top;
  -moz-animation-name: show-top;
  -ms-animation-name: show-top;
  animation-name: show-top;
}

/* line 115, ../sass/cube.scss */
.wrapper {
  width: 940px;
  height: 400px;
  -webkit-perspective: 2820px;
  margin: 0 auto;
}
