/* general icons for IE7 */
/* line 4, ../sass/general_enclosed_foundicons_ie7.scss */
[class*="foundicon-"] {
  font-family: "GeneralEnclosedFoundicons";
  font-weight: normal;
  font-style: normal;
}

/* line 14, ../sass/_settings.scss */
.foundicon-settings {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf000;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-heart {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf001;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-star {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf002;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-plus {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf003;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-minus {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf004;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-checkmark {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf005;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-remove {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf006;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-mail {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf007;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-calendar {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf008;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-page {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf009;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-tools {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf00a;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-globe {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf00b;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-home {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf00c;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-quote {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf00d;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-people {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf00e;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-monitor {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf00f;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-laptop {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf010;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-phone {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf011;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-cloud {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf012;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-error {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf013;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-right-arrow {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf014;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-left-arrow {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf015;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-up-arrow {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf016;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-down-arrow {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf017;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-trash {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf018;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-add-doc {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf019;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-edit {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf01a;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-lock {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf01b;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-unlock {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf01c;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-refresh {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf01d;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-paper-clip {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf01e;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-video {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf01f;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-photo {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf020;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-graph {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf021;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-idea {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf022;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-mic {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf023;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-cart {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf024;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-address-book {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf025;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-compass {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf026;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-flag {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf027;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-location {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf028;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-clock {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf029;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-folder {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf02a;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-inbox {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf02b;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-website {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf02c;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-smiley {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf02d;");
}

/* line 14, ../sass/_settings.scss */
.foundicon-search {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf02e;");
}
