<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/global.css" />
    <link rel="stylesheet" type="text/css" href="/css/railscasts_theme.css" />
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="nav">
    </div>

    <div class="header">
      <h2>Software by Josh</h2>
      <h3>Blog of Josh Carver, programmer + designer</h3>
      <div class="social-bar">
        <div class="social-bar-buttons">
          <a href="/">
            <img src="/images/home-24.png" />
          </a>
          <a href="http://github.com/jcarver989">
            <img src="/images/octocat-24.png" />
          </a>
          <a href="http://twitter.com/josh_carver">
            <img src="/images/twitter-24.png" />
          </a>
        </div>
        <hr />
      </div>
    </div>

    <div class="wrapper">
      {{ content }}
    </div>

  </body>
</html>
