<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/global.css" />
    <link rel="stylesheet" type="text/css" href="/css/railscasts_theme.css" />
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="nav">
    </div>

    <div class="header">
      <h2><a href="/">Software by Josh</a></h2>
      <h3>Blog of <a href="http://github.com/jcarver989">Josh Carver</a>, programmer + designer</h3>
      <hr />
    </div>

    <div class="wrapper">
      {{ content }}
    </div>

  </body>
</html>
