<!DOCTYPE HTML>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/foundation.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="http://suavecharts.com/dist/suave-charts.css" />

    <script src="http://suavecharts.com/js/vendor/d3.min.js"></script>
<script src="http://suavecharts.com/dist/suave-charts.min.js"></script>
    <title>{{ page.title }}</title>
    <meta charset="utf-8"> 
  </head>
  <body>

<div class="row">
  <div class="small-12 large-10 columns small-centered">
    <div class="wrapper">
      {{ content }}
    </div>
  </div>
</div>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28190376-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

     </script>
   </body>
 </html>
